ul{ list-style: none;}

button{
    margin: 0;
    color: white
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Bodoni Condensed', 'Roboto', sans-serif;
    margin: 0;
    font-size: 1.5em;
}

.navbar{
    height: 10vh;
    padding-top: 0;
}

.navbar-brand{
    padding: 0;
}

.bg-darkblue{
    background-color:rgb(0, 0, 0);
}

.list-group{
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: var(--bs-border-color);
}

.list-group-item {
    position: relative;
    display: block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    text-decoration: none;
    background-color: var(--bs-list-group-bg);
    border: var(--bs-list-group-border-width) solid rgba(0, 0, 0, 0);
}

i.fa-solid.fa-user-lock.text-white.login:hover{
    --bs-text-opacity: 1;
    color: rgb(21, 255, 0)!important;
}

i.fa-solid.fa-user-lock.text-white.logout:hover{
    --bs-text-opacity: 1;
    color: rgb(255, 0, 0)!important;
}

@media (max-width: 450px){
    img{
        width: 0;
    }
}


