.row {
    padding: 1%;
}

.experiencia.mt-5{
    padding: 2rem;
    background-color: rgb(29, 29, 29);
}

.card{
    max-width: 98%;
    background-color: rgb(255, 255, 255);
}


@media (min-width: 576px) {
    #logoexp {
        box-shadow: 3px 3px 3px grey;
        max-width: 15vw;
    }

    #cuerpoexp{
        padding-top: 0%;
    }
}

@media (max-width: 575px) {
    #logoexp {
        box-shadow: 3px 3px 3px grey;
        position: absolute;
        left: 10%;
        width: 80%;
    }

    #cuerpoexp{
        padding-top: 83%;
    }
}