<section id="experiencias" class="experiencia mt-5">
    <!--Titulo seccion-->
    <h1 class="text-center" style="color: rgb(255, 255, 255);">Experiencias</h1>

    <div class="col-lg-12">
        <button type="button" class="btn btn-light" routerLink="/nuevaexp" *ngIf="isLogged">
            <i class="bi bi-plus-circle-fill"></i> Nueva experiencia
        </button>
    </div>


    <!--Experiencias base de datos en row 1-->
    <div class="row" *ngFor="let Experiencia of expe">
        <div class="card mb-3" style="max-width: 90vw;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img [src]="Experiencia.imgE" class="img-fluid img-thumbnail" alt="Imagen no encontrada"
                        id="logoexp">
                </div>
                <div class="col-md-10" id="cuerpoexp" style="padding-left: 1em;">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Titulo del puesto: </strong>{{Experiencia.tituloE}}</h5>
                        <h6 class="card-title t-14 t-normal"><strong>Modalidad de trabajo:
                            </strong>{{Experiencia.modalidadE}}</h6>
                        <h6 class="card-title t-14 t-normal"><strong>Empresa: </strong>{{Experiencia.empresaE}}</h6>
                        <h6 class="card-title t-14 t-normal t-black--light"><strong>Periodo:
                            </strong>{{Experiencia.periodoE}}</h6>
                        <h6 class="card-title t-14 t-normal t-black--light"><strong>Ubicación:
                            </strong>{{Experiencia.ubicacionE}}</h6>
                        <p class="card-text display-flex t-14 t-normal t-black" style="font-size: medium">
                            <strong>Descripción del puesto: </strong><br>{{Experiencia.descripcionE}}
                        </p>
                        <tr *ngIf="isLogged">
                            <td>
                                <button class="btn btn-dark" routerLink="/editexp/{{Experiencia.id}}">
                                    <i class="bi bi-pencil-square"></i> Editar
                                </button>
                            </td>
                            <td style="padding-left: 1em">
                                <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                                    <i class="bi bi-trash"></i> Borrar
                                </button>
                            </td>
                        </tr>
                    </div>
                </div>
            </div>
        </div>
    </div>




   