<!-- NAVBAR -->
<nav class="navbar navbar-dark bg-darkblue fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
            <img src="/assets/img/Logo_AP.png" alt="Logo_Argentina_programa" width="100 em" height="70 em">
        </a>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item fa-1x ">
                <a href="https://www.instagram.com/eznievv/" target="_blank">
                    <i class="fa-brands fa-instagram text-white"></i>
                </a>
            </li>
            <li class="list-group-item fa-1x">
                <a href="https://www.linkedin.com/in/nieva-ezequiel/" target="_blank">
                    <i class="fa-brands fa-linkedin-in text-white"></i>
                </a>
            </li>
            <li class="list-group-item fa-1x">
                <a href="https://github.com/EzNiev" target="_blank">
                    <i class="fa-brands fa-github text-white"></i>
                </a>
            </li>

            <li class="list-group-item fa-1x">
                <i class="fa-solid fa-user-lock text-white login" (click)="login()" *ngIf="!isLogged">
                    <button type="button" class="btn">
                        Login
                    </button>
                </i>
            </li>

            <li class="list-group-item fa-1x">
                <i class="fa-solid fa-user-lock text-white logout" (click)="onLogOut()" *ngIf="isLogged">
                    <button type="button" class="btn">
                        Logout
                    </button>
                </i>
            </li>


        </ul>
    </div>
</nav>