.skills{
    padding: 2rem;
    background-color: rgb(25, 25, 25);
}

.text-center{
    padding-bottom: 5%;
}


h2{
    color: white;
    padding-top: 0%;
    font-size: 1em;
}

span{
    color: white;
}