<div class="row">
    <h1 class="text-center">Proyectos Realizados</h1>
    
    <div class="contenedor">
        <div class="col-sm-12 col-md-12 col-lg-12 parte1 text-center">
            <h2>Portfolio Personal en Angular</h2>
            <p>Como parte del cursado de Argentina Programa uno de los trabajos es ir realizando nuestro portfolio a lo largo del curso, me tome la libertad de subir mi portfolio en la fase de desarrollo de Angular, porque me pareció que como portfolio es un buen punto de inflexión, ya que sin base de datos y solo tecnología front-end se puede realizar una página de presentación profesional. También me gusta mostrar la diferencia entre ese proyecto y el actual, para corroborar las mejoras y funciones agregadas al portfolio.</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 parte2 text-center">
            <a href="https://ezequielnievadev.web.app" target="_blank">
                <img src="../../../assets/img/proyectoportfolioangular.png" alt="Portada proyecto Angular" class="img-fluid img-proyecto">
            </a>
        </div>
    </div>
</div>