<div class="row">
    <!-- Titulo sección -->
    <h1 class="text-center">Proyectos Realizados</h1>
    <!-- Boton para agregar un proyecto -->
    <div class="col-sm-12 col-md-12 col-lg-12">
        <button type="button" class="btn btn-dark" routerLink="/newproject" *ngIf="isLogged">
            <i class="bi bi-plus-circle-fill"></i> Agregar proyecto
        </button>
    </div>

    <!-- Proyectos cargados en la BD -->
    <div class="contenedor" *ngFor="let Proyecto of proyectos">
        <div class="col-sm-12 col-md-12 col-lg-12 parte1 text-center">
            <h2>{{Proyecto.tituloP}}</h2>
            <p>{{Proyecto.descripcionP}}</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 parte2 text-center">
            <a [href]="Proyecto.urlP" target="_blank">
                <img [src]="Proyecto.imgP" alt="Portada proyecto" class="img-fluid img-proyecto">
            </a>
        </div>
        <!-- Botones de editar y borrar -->
        <div style="padding: 1em;">
            <tr *ngIf="isLogged" >
                <td>
                    <button class="btn btn-dark" routerLink="/editproject/{{Proyecto.id}}" >
                        <i class="bi bi-pencil-square"></i> Editar
                    </button>
                </td>
                <td style="padding-left: 1em">
                    <button class="btn btn-danger" (click)="delete(Proyecto.id)">
                        <i class="bi bi-trash"></i> Borrar
                    </button>
                </td>
            </tr>
        </div>
    </div>
</div>