<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <img src="../../../assets/img/fotoEZE.png" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="acercade">
        <span class="text-center">
            <h1>Acerca de mí</h1>
            <p>{{persona.profesion}}
            </p>
            <p>
                Me considero un DevInDev(Developer in Development), actualmente estudiando programación que fue la rama
                que me gusto en el amplio mundo de la infórmatica, la cual me apasiona desde chico. Trabaje como técnico
                en hardware y software, luego cursé los primeros dos años de Ingenieria en Sistemas pero me enganche con
                la programación desde que vi estructuras de datos con Python. Me decidí de lleno a buscar una carrera de
                programador anotandome en el Argentina Programa y este portfolio es uno de mis primeros proyectos.
                Aparte de las maquinitas también me apasionan las motos y el basquet.
            </p>
            <h5 class="mt-3 text-center" style="font-size: 0.8em;"><a
                    href="../../../assets/archivos/CVNievaEzequiel_2022.pdf" target="_blank">Mi currículum
                    (pdf 204kb)</a></h5>
        </span>
    </div>
</div>