<section id="educaciones" class="educacion mt-5">
    <!--Titulo seccion-->
    <h1 class="text-center" style="color: rgb(0, 0, 0);">Educacion</h1>

    <!--Educacion 1-->
    <div class="row">
        <div class="card mb-3" style="max-width: 90vw;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="../../../assets/img/LogoGADE.png" class="img-fluid img-thumbnail" alt="Logo Gade"
                        id="logoeducacion">
                </div>
                <div class="col-md-9" id="cuerpoeducacion">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Titulo del puesto: </strong>Encargado de depósito </h5>
                        <h6 class="card-title t-14 t-normal"><strong>Modalidad de estudio: </strong>Presencial</h6>
                        <h6 class="card-title t-14 t-normal"><strong>Institución: </strong>GADE Electricidad</h6>
                        <h6 class="card-title t-14 t-normal t-black--light"><strong>Periodo: </strong>06/2016 /
                            12/2016
                        </h6>
                        <h6 class="card-title t-14 t-normal t-black--light"><strong>Ubicación: </strong>Jesús María,
                            Córdoba, Argentina
                        </h6>
                        <p class="card-text display-flex t-14 t-normal t-black" style="font-size: medium">
                            <strong>Descripción: </strong><br>Mi primera experiencia formal de trabajo, a
                            la cual accedí gracias a las pasantías estudiantiles y seguí trabajando hasta fin de año
                            desarrollándome en atención al cliente y depósito, siendo este último donde trabajé más
                            tiempo. Mis tareas eran organizar los productos, controlar ingresos y egresos, controlar
                            el stock y mantener el lugar de trabajo en condiciones de limpieza y seguridad.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Educacion 2-->
    <div class="row">
        <div class="card mb-3" style="max-width: 90vw;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="../../../assets/img/LogoGADE.png" class="img-fluid img-thumbnail" alt="Logo Gade"
                        id="logoeducacion">
                </div>
                <div class="col-md-9" id="cuerpoeducacion">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Titulo del puesto: </strong>Encargado de depósito </h5>
                        <h6 class="card-title t-14 t-normal"><strong>Modalidad de estudio: </strong>Presencial</h6>
                        <h6 class="card-title t-14 t-normal"><strong>Institución: </strong>GADE Electricidad</h6>
                        <h6 class="card-title t-14 t-normal t-black--light"><strong>Periodo: </strong>06/2016 /
                            12/2016
                        </h6>
                        <h6 class="card-title t-14 t-normal t-black--light"><strong>Ubicación: </strong>Jesús María,
                            Córdoba, Argentina
                        </h6>
                        <p class="card-text display-flex t-14 t-normal t-black" style="font-size: medium">
                            <strong>Descripción: </strong><br>Mi primera experiencia formal de trabajo, a
                            la cual accedí gracias a las pasantías estudiantiles y seguí trabajando hasta fin de año
                            desarrollándome en atención al cliente y depósito, siendo este último donde trabajé más
                            tiempo. Mis tareas eran organizar los productos, controlar ingresos y egresos, controlar
                            el stock y mantener el lugar de trabajo en condiciones de limpieza y seguridad.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--Educacion 3-->
    <div class="row">
        <div class="card mb-3" style="max-width: 90vw;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="../../../assets/img/LogoGADE.png" class="img-fluid img-thumbnail" alt="Logo Gade"
                        id="logoeducacion">
                </div>
                <div class="col-md-9" id="cuerpoeducacion">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Titulo del puesto: </strong>Encargado de depósito </h5>
                        <h6 class="card-title t-14 t-normal"><strong>Modalidad de estudio: </strong>Presencial</h6>
                        <h6 class="card-title t-14 t-normal"><strong>Institución: </strong>GADE Electricidad</h6>
                        <h6 class="card-title t-14 t-normal t-black--light"><strong>Periodo: </strong>06/2016 /
                            12/2016
                        </h6>
                        <h6 class="card-title t-14 t-normal t-black--light"><strong>Ubicación: </strong>Jesús María,
                            Córdoba, Argentina
                        </h6>
                        <p class="card-text display-flex t-14 t-normal t-black" style="font-size: medium">
                            <strong>Descripción: </strong><br>Mi primera experiencia formal de trabajo, a
                            la cual accedí gracias a las pasantías estudiantiles y seguí trabajando hasta fin de año
                            desarrollándome en atención al cliente y depósito, siendo este último donde trabajé más
                            tiempo. Mis tareas eran organizar los productos, controlar ingresos y egresos, controlar
                            el stock y mantener el lugar de trabajo en condiciones de limpieza y seguridad.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--Educacion 4-->
    <div class="row">
        <div class="card mb-3" style="max-width: 90vw;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="../../../assets/img/LogoGADE.png" class="img-fluid img-thumbnail" alt="Logo Gade"
                        id="logoeducacion">
                </div>
                <div class="col-md-9" id="cuerpoeducacion">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Titulo del puesto: </strong>Encargado de depósito </h5>
                        <h6 class="card-title t-14 t-normal"><strong>Modalidad de estudio: </strong>Presencial</h6>
                        <h6 class="card-title t-14 t-normal"><strong>Institución: </strong>GADE Electricidad</h6>
                        <h6 class="card-title t-14 t-normal t-black--light"><strong>Periodo: </strong>06/2016 /
                            12/2016
                        </h6>
                        <h6 class="card-title t-14 t-normal t-black--light"><strong>Ubicación: </strong>Jesús María,
                            Córdoba, Argentina
                        </h6>
                        <p class="card-text display-flex t-14 t-normal t-black" style="font-size: medium">
                            <strong>Descripción: </strong><br>Mi primera experiencia formal de trabajo, a
                            la cual accedí gracias a las pasantías estudiantiles y seguí trabajando hasta fin de año
                            desarrollándome en atención al cliente y depósito, siendo este último donde trabajé más
                            tiempo. Mis tareas eran organizar los productos, controlar ingresos y egresos, controlar
                            el stock y mantener el lugar de trabajo en condiciones de limpieza y seguridad.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--Educacion 5-->
    <div class="row">
        <div class="card mb-3" style="max-width: 90vw;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="../../../assets/img/LogoGADE.png" class="img-fluid img-thumbnail" alt="Logo Gade"
                        id="logoeducacion">
                </div>
                <div class="col-md-9" id="cuerpoeducacion">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Titulo del puesto: </strong>Encargado de depósito </h5>
                        <h6 class="card-title t-14 t-normal"><strong>Modalidad de estudio: </strong>Presencial</h6>
                        <h6 class="card-title t-14 t-normal"><strong>Institución: </strong>GADE Electricidad</h6>
                        <h6 class="card-title t-14 t-normal t-black--light"><strong>Periodo: </strong>06/2016 /
                            12/2016
                        </h6>
                        <h6 class="card-title t-14 t-normal t-black--light"><strong>Ubicación: </strong>Jesús María,
                            Córdoba, Argentina
                        </h6>
                        <p class="card-text display-flex t-14 t-normal t-black" style="font-size: medium">
                            <strong>Descripción: </strong><br>Mi primera experiencia formal de trabajo, a
                            la cual accedí gracias a las pasantías estudiantiles y seguí trabajando hasta fin de año
                            desarrollándome en atención al cliente y depósito, siendo este último donde trabajé más
                            tiempo. Mis tareas eran organizar los productos, controlar ingresos y egresos, controlar
                            el stock y mantener el lugar de trabajo en condiciones de limpieza y seguridad.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>