<section id="educaciones" class="educacion mt-5">
    <!--Titulo seccion-->
    <h1 class="text-center" style="color: rgb(0, 0, 0);">Educacion</h1>

    <!--Educacion 1-->
    <div class="row">
        <div class="card mb-3" style="max-width: 90vw;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="../../../assets/img/LogoAP2.png" class="img-fluid img-thumbnail" alt="Logo Argentina Programa"
                        id="logoeducacion">
                </div>
                <div class="col-md-9" id="cuerpoeducacion">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Argentina Programa - INTI</strong></h5>
                            <h6 class="card-title t-14 t-normal">Primera Etapa SeProgramar, Programación informática</h6>
                            <h6 class="card-title t-14 t-normal t-black--light">mar. 2022 - may. 2022
                            </h6>
                            <p class="card-text display-flex align-items-center t-14 t-normal t-black"
                                style="font-size: medium">Actividades y grupos: Cursado online en plataforma Mumuki, de manera individual. Aprobé la primera etapa del curso, de duración de 3 meses, lo logré completa en 2 meses ya que el mismo siendo un curso introductorio a la programación. En el mismo repasé programación básica, reforcé JavaScript y mejoré mi entendimiento de POO con Ruby.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--Educacion 2-->
    <div class="row">
        <div class="card mb-3" style="max-width: 90vw;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="../../../assets/img/udemylogo.png" class="img-fluid img-thumbnail" alt="Logo Udemy"
                        id="logoeducacion">
                </div>
                <div class="col-md-9" id="cuerpoeducacion">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Udemy</strong></h5>
                            <h6 class="card-title t-14 t-normal">Machine Learning: Data Science en Python, Programación informática</h6>
                            <h6 class="card-title t-14 t-normal t-black--light">dic. 2020 - dic. 2022
                            </h6>
                            <p class="card-text display-flex align-items-center t-14 t-normal t-black"
                                style="font-size: medium">Estoy cursando en modalidad online el curso de Data Science ya que es una de las especialidades que me interesan, ya que combina dos cosas que me gusta, las estadísticas y la programación. Lo mejor de todo es que es en un lenguaje conocido, Python, el cual fue el primer lenguaje que vi en la Universidad.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--Educacion 3-->
    <div class="row">
        <div class="card mb-3" style="max-width: 90vw;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="../../../assets/img/LogoAP2.png" class="img-fluid img-thumbnail" alt="Logo Argentina Programa"
                        id="logoeducacion">
                </div>
                <div class="col-md-9" id="cuerpoeducacion">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Argentina Programa - INTI</strong></h5>
                            <h6 class="card-title t-14 t-normal">Argentina Programa - INTI</h6>
                            <h6 class="card-title t-14 t-normal t-black--light">jul. 2022 - ene. 2023
                            </h6>
                            <p class="card-text display-flex align-items-center t-14 t-normal t-black"
                                style="font-size: medium">Actualmente estoy cursando la segunda etapa del curso. En ésta etapa voy a estar profundizando mis conocimientos y adquiriendo las habilidades y herramientas necesarias para convertirme en programador web full-stack junior, reforzando tecnologías como: GitHub, Html, Css, Javascript, Angular, bases de datos, POO, e incorporando otras como: JSP, Servlets, Sockets, Spring Boot, APIs, y conceptos de Ciberseguridad.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--Educacion 4-->
    <div class="row">
        <div class="card mb-3" style="max-width: 90vw;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="../../../assets/img/logo-utn.jfif" class="img-fluid img-thumbnail" alt="Logo Argentina Programa"
                        id="logoeducacion">
                </div>
                <div class="col-md-9" id="cuerpoeducacion">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Universidad Tecnológica Nacional - FRC</strong></h5>
                            <h6 class="card-title t-14 t-normal">Ingeniería, Análisis de sistemas informáticos/Analista</h6>
                            <h6 class="card-title t-14 t-normal t-black--light">2019 - actual
                            </h6>
                            <p class="card-text display-flex align-items-center t-14 t-normal t-black"
                                style="font-size: medium">Este año retomé mis estudios, terminando materias de segundo año, ya que tengo intenciones de orientarme en Inteligencia Artificial y Ciencia de Datos. Entre los conocimientos que adquirí en la carrera hasta ahora destaco Python, aplicado en Algoritmos y Estructura de Datos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</section>