section.educaciones{
    padding: 0;
}

.row {
    padding: 1%;
}

.educacion.mt-5{
    padding: 2rem;
    padding-top: 0;
    background-color: rgb(255, 255, 255);
}

.card{
    max-width: 98%;
    background-color: rgb(255, 255, 255);
}


@media (min-width: 576px) {
    #logoeducacion {
        box-shadow: 3px 3px 3px grey;
        

    }
    #cuerpoeducacion{
        padding-top: 0%;
    }
}

@media (max-width: 575px) {
    #logoeducacion {
        box-shadow: 3px 3px 3px grey;
        position: absolute;
        left: 10%;
        width: 80%;
    }

    #cuerpoeducacion{
        padding-top: 83%;
    }
}