<div class="skills">
    <div class="row">
        <h1 class="text-center" style="color: rgb(255, 255, 255); padding-bottom: 1em;">Hard & Soft Skills</h1>

        <div class="col-lg-12" style="padding: 1em;">
            <button type="button" class="btn btn-light" routerLink="/newskill" *ngIf="isLogged">
                <i class="bi bi-plus-circle-fill"></i> Nueva skill
            </button>
        </div>

        <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-2 row" *ngFor="let Skill of skills">
            <br>
            <h2>{{Skill.nombreS}}</h2>
            <circle-progress 
                [percent]="(Skill.porcentajeS)" 
                [showUnits]="false"
                [imageSrc]="(Skill.imgS)" 
                [showImage]="true" 
                [imageHeight]="70"
                [imageWidth]="70">
            </circle-progress>
            <tr *ngIf="isLogged">
                <td>
                    <button class="btn btn-dark" routerLink="/editskill/{{Skill.id}}">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </td>
                <td style="padding-left: 1em">
                    <button class="btn btn-danger" (click)="delete(Skill.id)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </div>
    </div>
</div>