a {
    color: rgb(202, 10, 10);
}

.row {
    padding: 20px;
}

div {
    background-color: #ffffff;
}

/*estilo foto perfil*/
@media (min-width: 576px) {
    #fotoperfil {
        position: absolute;
        width: 24%;
        max-width: 250px;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 4%;
        top: 69%;
        
    }
}

@media (max-width: 575px) {
    #fotoperfil {
        position: absolute;
        width: 60%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 21%;
        top: 38em;
    }

    #acercade{
        padding-top: 40%;
    }
}

@media (max-width: 380px) {
    #fotoperfil {
        position: absolute;
        width: 60%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 21%;
        top: 35em;
    }

    #acercade{
        padding-top: 40%;
    }
}