<section id="experiencias" class="experiencia mt-5">
    <!--Titulo seccion-->
    <h1 class="text-center" style="color: rgb(255, 255, 255);">Experiencias</h1>

    <div class="col-lg-2">
        <button type="button" class="btn btn-light" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva experiencia
        </button>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>{{Experiencia.tituloE}}</td>
                    <td>{{Experiencia.modalidadE}}</td>
                    <td>{{Experiencia.empresaE}}</td>
                    <td>{{Experiencia.periodoE}}</td>
                    <td>{{Experiencia.ubicacionE}}</td>
                    <td>{{Experiencia.descripcionE}}</td>
                    <td>Editar</td>
                    <td>Borrar</td>
                </tr>
            </tbody>
        </table>
    </div>





    <!--Experiencia 1-->
    <div class="row">
        <div class="card mb-3" style="max-width: 90vw;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="../../../assets/img/LogoGADE.png" class="img-fluid img-thumbnail" alt="Logo Gade"
                        id="logoexp">
                </div>
                <div class="col-md-10" id="cuerpoexp">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Titulo del puesto: </strong>Encargado de depósito </h5>
                        <h6 class="card-title t-14 t-normal"><strong>Modalidad de trabajo: </strong>Presencial</h6>
                        <h6 class="card-title t-14 t-normal"><strong>Empresa: </strong>GADE Electricidad</h6>
                        <h6 class="card-title t-14 t-normal t-black--light"><strong>Periodo: </strong>06/2016 /
                            12/2016
                        </h6>
                        <h6 class="card-title t-14 t-normal t-black--light"><strong>Ubicación: </strong>Jesús María,
                            Córdoba, Argentina
                        </h6>
                        <p class="card-text display-flex t-14 t-normal t-black" style="font-size: medium">
                            <strong>Descripción del puesto: </strong><br>Mi primera experiencia formal de trabajo, a
                            la cual accedí gracias a las pasantías estudiantiles y seguí trabajando hasta fin de año
                            desarrollándome en atención al cliente y depósito, siendo este último donde trabajé más
                            tiempo. Mis tareas eran organizar los productos, controlar ingresos y egresos, controlar
                            el stock y mantener el lugar de trabajo en condiciones de limpieza y seguridad.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Experiencia 2-->
    <div class="row">
        <div class="card mb-3" style="max-width: 90vw;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="../../../assets/img/Logo-Servitech.png" class="img-fluid img-thumbnail"
                        alt="Logo Servitech" id="logoexp">
                </div>
                <div class="col-md-10" id="cuerpoexp">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Titulo del puesto: </strong>Técnico/Emprendedor</h5>
                        <h6 class="card-title t-14 t-normal"><strong>Modalidad de trabajo: </strong>Presencial/Fulltime
                        </h6>
                        <h6 class="card-title t-14 t-normal"><strong>Empresa: </strong>Presencial/Fulltime</h6>
                        <h6 class="card-title t-14 t-normal t-black--light"><strong>Periodo: </strong>07/2017 / 01/2021
                        </h6>
                        <h6 class="card-title t-14 t-normal t-black--light"><strong>Ubicación: </strong>Córdoba,
                            Argentina
                        </h6>
                        <p class="card-text display-flex t-14 t-normal t-black" style="font-size: medium">
                            <strong>Descripción del puesto: </strong><br>Ofrecía servicio técnico de computadoras y
                            notebooks de forma independiente. Con el tiempo obtuve conocimientos en el área, habilidades
                            para tratar con clientes y administré mi negocio desde cero mediante mis propios medios
                            promocionando mi trabajo por redes sociales y recomendaciones de mis propios clientes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Experiencia 3-->
    <div class="row">
        <div class="card mb-3" style="max-width: 90vw;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="../../../assets/img/logo-apex.png" class="img-fluid img-thumbnail" alt="Logo Apex"
                        id="logoexp">
                </div>
                <div class="col-md-10" id="cuerpoexp">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Titulo del puesto: </strong>Asesor atención al cliente/Mentor
                        </h5>
                        <h6 class="card-title t-14 t-normal"><strong>Modalidad de trabajo:
                            </strong>Semipresencial/Jornada Parcial</h6>
                        <h6 class="card-title t-14 t-normal"><strong>Empresa: </strong>Apex América BPO</h6>
                        <h6 class="card-title t-14 t-normal t-black--light"><strong>Periodo: </strong>12/2020 / 11/2021
                        </h6>
                        <h6 class="card-title t-14 t-normal t-black--light"><strong>Ubicación: </strong>Córdoba,
                            Córdoba, Argentina
                        </h6>
                        <p class="card-text display-flex t-14 t-normal t-black" style="font-size: medium">
                            <strong>Descripción del puesto: </strong><br>Asesor telefónico en una cuenta de retención en
                            una prestadora de servicios de telecomunicaciones. Desde Junio también trabajé como Mentor
                            (auxiliar de capacitaciones) en los procesos de capacitaciones de nuevos ingresos a la
                            empresa, ayudando en todo lo que corresponda a mejorar el proceso de aprendizaje brindando
                            material multimedia y también mediante asesoramiento técnico cuando corresponda.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Experiencia 4-->
    <div class="row">
        <div class="card mb-3" style="max-width: 90vw;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="../../../assets/img/Maiden.jpg" class="img-fluid img-thumbnail" alt="Logo Maiden"
                        id="logoexp">
                </div>
                <div class="col-md-10" id="cuerpoexp">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Titulo del puesto: </strong>Encargado de proveeduría</h5>
                        <h6 class="card-title t-14 t-normal"><strong>Modalidad de trabajo: </strong>Presencial/Fulltime
                        </h6>
                        <h6 class="card-title t-14 t-normal"><strong>Empresa: </strong>MAIDEN Eventos</h6>
                        <h6 class="card-title t-14 t-normal t-black--light"><strong>Periodo: </strong>12/2021 / 11/2022
                        </h6>
                        <h6 class="card-title t-14 t-normal t-black--light"><strong>Ubicación: </strong>Córdoba,
                            Córdoba, Argentina
                        </h6>
                        <p class="card-text display-flex t-14 t-normal t-black" style="font-size: medium">
                            <strong>Descripción del puesto: </strong><br>Era encargado del salón/proveeduría, la misma
                            funciona como Bar, Cantina y Salón de eventos. Entre mis tareas se encuentran como
                            principales: Encargado de RRHH(Confección de cronogramas, redacción de informes, control de
                            ingreso y egreso de personal, auxiliar de reclutamiento), Encargado de compras/deposito
                            (Pedidos a proveedores, control de ingreso y egreso de mercadería, control de stock de
                            mercadería en salón y depósito), Encargado de caja (Apertura, cierre y arqueo de caja,
                            redacción balances de rendiciones semanales y mensuales, y redacción balance general),
                            Organizador de eventos (Encargado de reservas del salón y coordinación de servicios
                            complementarios al evento)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Experiencia 5-->
    <div class="row">
        <div class="card mb-3" style="max-width: 90vw;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="../../../assets/img/Logo_rus.jpg" class="img-fluid img-thumbnail" alt="Logo RUS"
                        id="logoexp">
                </div>
                <div class="col-md-10" id="cuerpoexp">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Titulo del puesto: </strong>Representante</h5>
                        <h6 class="card-title t-14 t-normal"><strong>Modalidad de trabajo: </strong>Presencial/Part-time
                        </h6>
                        <h6 class="card-title t-14 t-normal"><strong>Empresa: </strong>Rio Uruguay Seguros</h6>
                        <h6 class="card-title t-14 t-normal t-black--light"><strong>Periodo: </strong>11/2022 /
                            Actualmente
                        </h6>
                        <h6 class="card-title t-14 t-normal t-black--light"><strong>Ubicación: </strong>Córdoba,
                            Córdoba, Argentina
                        </h6>
                        <p class="card-text display-flex t-14 t-normal t-black" style="font-size: medium">
                            <strong>Descripción del puesto: </strong><br>En Noviembre ingresé a RUS para trabajar en el
                            área de atención de asegurados realizando tanto carga como seguimiento de siniestros.
                            Realizo consultas, validaciones, cobranzas, tesorería y asesoramiento.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>