<section id="educaciones" class="educacion mt-5">
    <!--Titulo seccion-->
    <h1 class="text-center" style="color: rgb(0, 0, 0);">Educacion</h1>

    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
            <i class="bi bi-plus-circle-fill"></i> Nueva educación
        </button>
    </div>

    <!--Educacion desde base de datos-->
    <div class="row" *ngFor="let Educacion of educacion">
        <div class="card mb-3" style="max-width: 90vw;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="../../../assets/img/LogoAP2.png" class="img-fluid img-thumbnail" id="logoeducacion">
                </div>
                <div class="col-md-9" id="cuerpoeducacion">
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{Educacion.tituloEd}}</strong></h5>
                        <h6 class="card-title t-14 t-normal">{{Educacion.subtituloEd}}</h6>
                        <h6 class="card-title t-14 t-normal t-black--light">{{Educacion.periodoEd}}</h6>
                        <p class="card-text display-flex align-items-center t-14 t-normal t-black"
                            style="font-size: medium">{{Educacion.descripcionEd}}</p>
                    </div>
                    <tr *ngIf="isLogged">
                        <td>
                            <button class="btn btn-dark" routerLink="/editedu/{{Educacion.id}}">
                                <i class="bi bi-pencil-square"></i> Editar
                            </button>
                        </td>
                        <td style="padding-left: 1em">
                            <button class="btn btn-danger" (click)="delete(Educacion.id)">
                                <i class="bi bi-trash"></i> Borrar
                            </button>
                        </td>
                    </tr>
                </div>
            </div>
        </div>
    </div>

</section>